
#Python
*.pyc
__pycache__

# Dependency
venv/

# VSCode
.vscode/
*.code-workspace

# MacOS
.DS_Store

#ENV Variable
scripts/
.ENV

#Image Data
data/images/*/*.png
data/images/*/*.jpg

#Artifacts / Build pkg
build
dist
*.spec